# 忽略Visual Studio的临时文件和编译产物
*.suo
*.user
*.userosscache
*.sln.docstates

# 忽略生成的二进制和中间文件
Debug/
Release/
x64/
x86/
bin/
obj/
[Bb]in/
[Oo]bj/
[Ll]ogs/
[Dd]ebug*/
[Rr]elease*/

# 忽略所有.vs文件夹，它包含了用户特定的VS配置
.vs/

# 忽略包和NuGet
*.nupkg
packages/
*.config

# 忽略项目文件，包括自动生成的文件
project.lock.json
project.fragment.lock.json
*.nuget.props
*.nuget.targets

# 忽略备份文件
*.[Bb]ak

# 忽略包含在OpenGL项目中常见的库文件夹
lib/
glew32.dll
glfw3.dll
freeglut.dll

# 忽略上传的ZIP文件
*.zip

# 忽略所有的图片文件夹（如果您不希望包括它们）
images/
